@model IEnumerable<GRMVC.Models.OrderCRVM>

@{
    ViewData["Title"] = "Order History Sorted";
}

<h1>Order History</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.LocalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { ID = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
<form>
    <div>
        <a asp-action="OrderHistory">Go Back</a>
    </div>
</form>