@model GRMVC.Models.RecordCRVM
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Record Details";
}

<h1>Details</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArtistName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenreType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenreType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormatType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormatType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConditionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Add to Cart", "Add2Cart", "Cart", new { RecID = Model.ID, Quan = 1, CartID = Context.Session.GetInt32("CartID") }) |
    <a asp-action="Index">Back to List</a>
</div>
