@model IEnumerable<GRMVC.Models.RecordIndexVM>

@{
    ViewData["Title"] = "Records List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Record</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormatType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormatType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { name = item.RecordName }) |
                @Html.ActionLink("Add to Cart", "Add2Cart", "Cart", new { /* id=item.PrimaryKey */ }) @*|
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
